<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Add Pilot</title>
	</head>
	<body>
		<h2>Hello!</h2>
		
		<h3>Tambah Dealer</h3>
		<form action="/dealer/add" th:object="${dealer}" method="post">
		  Nama:<br>
		  <input type="text" name="nama" th:field="*{nama}">
		  <br>
		  Alamat:<br>
		  <input type="text" name="alamat" th:field="*{alamat}">
		  <br>
		  Telepon:<br>
		  <input type="number" name="telp" th:field="*{telp}">
		  <br><br>
		  <input type="submit" value="Submit">
		</form>
		
	</body>
</html>

