<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Update Flight</title>
	</head>
	<body>
		<h3>Update Dealer</h3>
		<form action="/dealer/add" th:object="${dealer}" method="post">
			<input type="hidden" name="car" th:field="*{car}">
			<input type="hidden" name="id" th:field="*{id}">
			Nama:<br>
			<input type="text" name="nama" th:field="*{nama}">
			<br>
			Alamat:<br>
			<input type="text" name="alamat" th:field="*{alamat}">
			<br>
			Telepon:<br>
			<input type="number" name="telp" th:field="*{telp}">
			<br><br>
			<input type="submit" value="Submit">
		</form>
		
	</body>
</html>