<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Add Mobil</title>
	</head>
	<body>
		<h2>Hello!</h2>
		
		<h3>Update Mobil</h3>
		<form action="/car/update" th:object="${car}" method="post">
			<input type="hidden" name="id" th:field="*{id}">
		  	<br>
			Type:<br>
			<input type="text" name="type" th:field="*{type}">
			<br>
			Brand:<br>
			<input type="text" name="brand" th:field="*{brand}">
			<br>
		  	Price:<br>
		  	<input type="number" name="price" th:field="*{price}">
			<br>
			Amount:<br>
			<input type="number" name="amount" th:field="*{amount}">
			<br><br>
		  	<input type="submit" value="Submit">
		</form>
		
	</body>
</html>